body {
	margin:0;
	padding:0;
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #f8f8ff;
}

.App {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;	
}

.App h1 {
	font-size: 10rem;
	color:#D6BBB4;
}

/* buttons for start stop pause */
.control-buttons {
	display: flex;
	justify-content: center;
}

.control-buttons button {
	font-size: 1.3rem;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	border-style: none;
	margin: 15% 1%;
	background-color: #F2DDD7;
	color:#fff;
}

.control-buttons button:hover {
	background-color: #D6BBB4;
}

/* counter settings */

.timer-settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #D6BBB4;
	padding:0 2% 4% 2%;
	border-radius: 2%;;
}

.stretch-counter input, h3 {
	text-align: center;
}

.stretch-counter h3 {
	color:#fff;
	font-size: 2rem;

}

.stretch-counter button, input {
	font-size:1.5rem;
	border-style: none;
}
.stretch-counter button {
	width:100%;	
	background-color: #fff;
}

.stretch-counter input {
	width:99.2%;	
	color: #D6BBB4;
}

.stretch-counter button:hover{
	background-color: #F2DDD7;
}

.stretch-counter button:first-of-type {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.stretch-counter button:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* stop the arrows in the input number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

